<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>CPMA Maxstats</title></head><body><big><span style="font-weight: bold;">Project 1 Requirements Page</span></big><br>
<a href="/api/addmatch">Add Match XML File</a><br>
<br>
<a href="/api/createplayer">Create Player</a><br>
<a href="/api/updateplayer">Update Player</a><br>
<a href="/api/deleteplayer">Delete Player</a><br>
<br>
<a href="/api/creatematch">Create Match</a><br>
<a href="/api/updatematch">Update Match</a><br>
<a href="/api/deletematch">Delete Match</a><br>

</body></html>